/* Small device: up to 576 px  */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .description {
    font-size: 0.75rem;
    line-height: 20px;
  }
  #nav_container {
    justify-content: space-between;
  }
  #nav_links,
  .nav_btn {
    display: none;
  }
  #banner_section {
    display: flex;
    flex-direction: column;
  }
  #banner_content {
    padding: 10px;
  }
  #banner_content_title {
    font-size: 2rem;
    text-align: center;
  }
  #btn_group .btn_primary,
  #btn_group #btn_green {
    font-size: 1rem;
  }

  #podcast_content {
    width: 100%;
    margin-bottom: 40px;
  }
  .heading {
    font-size: 1.75rem;
  }
  #podcast_stats {
    margin-top: 40px;
  }

  #stats_cards_container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 50px;
  }
  .stat_card .number {
    font-size: 2rem;
  }
  #tech_wave {
    padding: 40px 0;
  }
  #tech_wave_cards_container {
    grid-template-columns: 1fr;
  }
  .tech_wave_card {
    width: 100%;
    padding: 24px;
  }
  .row_span {
    grid-row: span 1;
  }
  .col_span {
    grid-column: span 1;
  }
}
/* Medium Device: 576px to 992 px (Optional)  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  #hamburger_icon {
    display: none;
  }
  #podcast_content {
    padding: 0 20px;
    width: 100%;
  }
  #stats_cards_container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #tech_wave {
    padding: 40px 0;
  }
  #tech_wave_cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech_wave_card {
    width: 100%;
    padding: 24px;
  }
  .row_span {
    grid-row: span 1;
  }
  .col_span {
    grid-column: span 1;
  }
}
/* Large Device: above 993 px  */
@media screen and (min-width: 993px) {
  #hamburger_icon {
    display: none;
  }

  #podcast_content {
    width: 100%;
  }
  #stats_cards_container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
