/* Small device: up to 576 px  */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  main > section {
    .container {
      margin: 0 auto;
      width: 90%;
    }
  }
  br {
    display: none;
  }
  .description {
    font-size: 0.65rem;
    line-height: 20px;
  }
  /** nav */
  #nav_container {
    justify-content: space-between;
  }
  #nav_links,
  .nav_btn {
    display: none;
  }
  /** banner */
  #banner {
    padding-top: 40px;
  }

  #banner_section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  #banner_content {
    padding: 10px;
  }
  #banner_content_title {
    font-size: 2rem;
    text-align: center;
  }
  #circle {
    width: 70%;
  }
  #microphone {
    width: 16%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #sub_title {
    font-size: 0.75rem;
  }
  #btn_group {
    flex-direction: row;
  }
  #btn_group .btn_primary,
  #btn_group #btn_green {
    font-size: 1rem;
    padding: 2px 10px;
  }

  #featured {
    padding-bottom: 40px;
  }
  #featured_container {
    padding-top: 40px;
  }
  #podcast_content {
    width: 96%;
    /* margin-bottom: 40px; */
    padding-top: 80px;
  }
  .heading {
    font-size: 1.5rem;
  }
  #podcast_stats {
    margin-top: -42px;
  }

  #stats_cards_container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 50px;
  }
  .stat_card .number {
    font-size: 2rem;
  }
  #tech_wave {
    padding: 40px 0;
  }
  #tech_wave_cards_container {
    grid-template-columns: 1fr;
  }
  .tech_wave_card {
    width: 100%;
    padding: 24px;
  }
  .row_span {
    grid-row: span 1;
  }
  .col_span {
    grid-column: span 1;
  }

  #podcast_cards {
    flex-direction: column;
    align-items: center;
  }
  .podcast_card {
    text-align: left;
  }
  .podcast_card h4 {
    font-size: 1.25rem;
  }

  #host_contents {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  #hosts_introduction {
    text-align: center;
  }
  #host {
    padding-bottom: 60px;
  }
  #social_icons {
    justify-content: center;
  }
  .heading {
    margin-bottom: 6px;
  }

  #footer_section {
    overflow: hidden;
    object-fit: cover;
  }

  #footer_contents {
    text-align: center;
    padding: 20px;
  }
  #footer_image img {
    width: 70%;
  }
  #footer_icons {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
/* Medium Device: 576px to 992 px (Optional)  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  main > section {
    .container {
      margin: 0 auto;
      width: 95%;
    }
  }
  #hamburger_icon {
    display: none;
  }
  #podcast_content {
    padding: 40px 0;
    width: 100%;
  }
  #stats_cards_container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #tech_wave {
    padding: 40px 0;
  }
  #tech_wave_cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech_wave_card {
    width: 100%;
    padding: 24px;
  }
  .row_span {
    grid-row: span 1;
  }
  .col_span {
    grid-column: span 1;
  }
  #featured_container {
    padding-top: 40px;
  }
  #podcast_cards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .podcast_card {
    color: #ffffff;
    background-color: #250d44;
    border-radius: 10px;
    /* overflow: hidden; */
    flex: 0 0 45%;
  }
}
/* Large Device: above 993 px  */
@media screen and (min-width: 993px) {
  #hamburger_icon {
    display: none;
  }

  #podcast_content {
    width: 100%;
  }
  #stats_cards_container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /* place-items: center; */
    gap: 60px;
  }

  #podcast_cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
}
