* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* * {
  border: 2px solid red;
}
body {
  border: 4px dashed blueviolet;
} */
/* Google Font : Inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared styles */
.container {
  width: 75%;
  margin: 0 auto;
}
.btn_primary {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 1000px;
  background: linear-gradient(to left, rgba(251, 9, 180, 1), #9100f8, #f7e93f);
  cursor: pointer;
}
.heading {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  margin-bottom: 24px;
}
/* shared styles end*/

header {
  background-color: #1a0b2e;
}
/* navbar design */
#navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_links {
  display: flex;
  gap: 32px;
}
#nav_items {
  list-style: none;
}
#nav_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
#brand,
#hamburger_icon {
  color: #ffffff;
}

/* banner design */
/* #banner {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* #banner_section {
  text-align: center;
  border-top: 1px solid rgba(65, 37, 103, 0.4);
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
} */
#banner_image {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
/* #circle {
  width: 450px;
  border: 8px solid #2a186c;
  border-radius: 50%;
} */
/* #microphone {
  width: 116px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* #banner_content {
  text-align: center;
  padding: 32px;
} */
/* #banner_content_title {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
} */
/* new badge */
/* #new {
  text-transform: uppercase;
  color: #1a0b2e;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #00ff88;
  padding: 4px 12px;
  border-radius: 1000px;
  position: absolute;
  top: 16px;
  right: 73px;
} */

/* #btn_green {
  color: #00ff88;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #00ff88;
  padding: 12px 20px;
  border-radius: 1000px;
} */
/* #btn_group {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
} */

/* podcast design */

#podcast_Container {
  background-color: #1a0b2e;
  padding-top: 50px;
}
#stats_cards_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding-bottom: 120px;
}

.stat_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#podcast_content {
  text-align: center;
  width: 1200px;
  margin-bottom: 80px;
}

#sub_title {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}
#podcast_stats {
  margin-top: 80px;
}
.stat_card .number {
  font-size: 3rem;
  font-weight: 600;
  color: #00ff88;
}
