* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Google Font : Inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared styles */
.container {
  width: 75%;
  margin: 0 auto;
}
