* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Google Font : Inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared styles */
.container {
  width: 75%;
  margin: 0 auto;
}
.btn_primary {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 1000px;
  /* background: linear-gradient(47.64deg, #9100f8, #f7e93f, rgba(251, 9, 180, 1)); */
  background: linear-gradient(to left, rgba(251, 9, 180, 1), #9100f8, #f7e93f);
}
/* shared styles end*/
header {
  background-color: #1a0b2e;
  padding: 20px 0;
  border: 2px solid #412567;
}
/* navbar design */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav_links {
  display: flex;
  gap: 32px;
}
#nav_items {
  list-style: none;
}
#nav_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
#brand {
  color: #ffffff;
  /* background: linear-gradient(to right, #f7e93f, rgba(251, 9, 180, 1), #9100f8); */
  /* text-shadow: #f7e93f, rgba(251, 9, 180, 1), #9100f8; */
  /* border-radius: 20px;
  padding: 5px; */
}
#gradient {
  /* color: rgba(251, 9, 180, 1), #f7e93f; */
  /* drop-shadow(#ee2233 0.5rem 0.5rem 1rem) */
  /* filter: drop-shadow(#9100f8); */
  /* text-shadow:
    2px 5px rgba(251, 9, 180, 1),
    #f7e93f; */
  /* background: linear-gradient(to bottom, rgba(251, 9, 180, 1), #f7e93f); */
}

#hamburger_icon {
  color: #ffffff;
}
