* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* * {
  border: 2px solid red;
}
body {
  border: 4px dashed blueviolet;
}
*/
*/
/* Google Font : Inter*/

/* shared styles */
.container {
  width: 75%;
  margin: 0 auto;
}
.btn_primary {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 1000px;
  background: linear-gradient(to left, rgba(251, 9, 180, 1), #9100f8, #f7e93f);
  cursor: pointer;
  transition:
    transform 1s ease-in 0.1s,
    margin-right 0.2s ease-in-out 0.2s;
}
.btn_primary:hover {
  transform: scale(1.25);
  margin-right: 30px;
}
.heading {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 16px;
  text-align: center;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  margin-bottom: 24px;
}
/* shared styles end*/

header {
  background-color: #1a0b2e;
}
/* navbar design */
#navbar {
  border-bottom: 1px solid rgba(65, 37, 103, 0.4);
}
#nav_container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav_links {
  display: flex;
  gap: 32px;
}
#nav_items {
  list-style: none;
}
#nav_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
#brand,
#hamburger_icon {
  color: #ffffff;
}

/* banner design */
#banner {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 80px;
}
#banner_section {
  text-align: center;
  /* border-top: 1px solid rgba(65, 37, 103, 0.4); */
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

#banner_image {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
#circle {
  width: 450px;
  border: 8px solid #2a186c;
  border-radius: 50%;
  /* padding-top: 50px; */
}
#microphone {
  width: 116px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner_content {
  text-align: center;
  padding: 32px;
}
#banner_content_title {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
}
/*banner new badge */
#new {
  text-transform: uppercase;
  color: #1a0b2e;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #00ff88;
  padding: 4px 12px;
  border-radius: 1000px;
  position: absolute;
  top: 16px;
  right: 73px;
}

#btn_green {
  color: #00ff88;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #00ff88;
  padding: 12px 20px;
  border-radius: 1000px;
  cursor: pointer;
  transition:
    transform 1s ease-in 1s,
    background-color 0.6s ease-in 0.1s;
}

#btn_green:hover {
  transform: rotate(360deg);
  background-color: #9100f8;
}
#btn_group {
  display: flex;
  gap: 15px;
  justify-content: center;
}

/* main  */
main > section {
  .container {
    margin: 0 auto;
    width: 75%;
  }
}
/* podcast design */
#podcast {
  border-bottom: 1px solid rgba(65, 37, 103, 0.4);
  /* border-bottom: 1px solid #1A0B2E; */
}
#podcast_Container {
  background-color: #1a0b2e;
  padding-top: 13 0px;
}
#podcast_content {
  padding-top: 80px;
}
#stats_cards_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding-bottom: 120px;
}

.stat_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#podcast_content {
  text-align: center;
  width: 1200px;
  margin-bottom: 80px;
}
#sub_title {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}
#podcast_stats {
  margin-top: 80px;
}
.stat_card .number {
  font-size: 3rem;
  font-weight: 600;
  color: #00ff88;
}

/* tech wave design */
#tech_wave {
  background-color: #230e3d;
  padding: 120px 0;
}
#tech_wave_cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.tech_wave_card {
  color: #ffffff;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 25px;
  border-radius: 40px;
}
.tech_wave_card img {
  margin-bottom: 30px;
  width: 50px;
}
.tech_wave_card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.row_span {
  grid-row: span 2;
  align-content: center;
}

.col_span {
  grid-column: span 2;
}
/* featured design */
#featured {
  background-color: #1a0b2e;
  padding-bottom: 120px;
}
#featured_container {
  padding-top: 80px;
}
#podcast_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.podcast_card {
  color: #ffffff;
  background-color: #250d44;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
}
.podcast_card iframe {
  margin-bottom: 16px;
  width: 100%;
}
.podcast_card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 29px;
}
#podcast_card_footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}
#podcast_card_footer span {
  color: #00ff88;
  font-size: 1rem;
  font-weight: 600;
}

/* host design */
#host {
  background-color: #1a0b2e;
  padding-bottom: 120px;
}

#host_contents {
  color: #ffffff;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 40px;
}

#hosts_introduction h4 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

#social_icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
#social_icons img {
  width: 40px;
  border: 1px solid #533c72;
  padding: 10px;
  border-radius: 50%;
}

/* footer section */
#footer_section {
  /* margin-top: 120px; */
  background: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#footer_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

#footer_icons {
  display: flex;
  gap: 25px;
  color: #ffffff;
  margin-bottom: 32px;
}

#footer_icon {
  display: flex;
  gap: 8px;
}

#footer_image img {
  margin-bottom: 32px;
  width: 410px;
}

#copyright_msg {
  color: #ffffff;
}
